.Categories {
	flex: 1;
}

.Categories__content {
	padding: 0 0 4rem;
	/* width: 90%; */
	background-color: #fff;
	display: flex;
	justify-content: center;
	max-width: 65rem;
	min-height: 20rem;
	margin: 5rem auto;
	/* padding: 4rem 0; */
	box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .12);
	border-radius: .5rem;
}
