.Transactions {
	flex: 1;
}

.Transactions__content {
	/* width: 90%; */
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 650px;
	min-height: 200px;
	margin: 120px auto 50px;
	/* padding: 4rem 0; */
	box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .12);
	border-radius: 5px;
}

.Transactions__filters-container {
	padding: 20px;
}

.Transactions__btn-reverse {
	margin-left: 60px;
}

.Transactions__content label {
	margin-right: 10px;
	font-size: 14px;
}

.Transactions__content select {
	font-size: 15px;
}
