.BtnSwitch {
	position: relative;
	outline: 0;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	margin: 0 0 5px 0;
	font-size: 17px;
	font-family: 'roboto';
}

.BtnSwitch span {
	position: relative;
	display: block;
	height: 2em;
	line-height: 1.2em;
	overflow: hidden;
	font-weight: normal;
	text-align: center;
	border-radius: 2em;
	padding: 0.2em 1em;
	border: 1px solid #fafafa;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.7);
	transition: color 0.3s ease, padding 0.3s ease-in-out, background 0.3s ease-in-out;
}
.BtnSwitch span:before {
	position: relative;
	display: block;
	line-height: 1.6em;
	padding: 0 0.2em;
	font-size: 1em;
	letter-spacing: 1px;
}
.BtnSwitch span:after {
	position: absolute;
	display: block;
	content: '';
	border-radius: 2em;
	width: 1.45em;
	height: 1.45em;
	margin-left: -1.72em;
	top: 0.22em;
	background: #ffffff;
	transition: left 0.3s ease, background 0.3s ease-in-out;
}
.BtnSwitch input[type="checkbox"] {
	display: none !important;
}
.BtnSwitch input[type="checkbox"]:not(:checked) + span {
	background: #1aa333;
	color: #ffffff;
	padding-left: 2.3em;
	padding-right: 1.2em;
}
.BtnSwitch input[type="checkbox"]:not(:checked) + span:before {
	content: attr(data-off);
	color: #ffffff;
}
.BtnSwitch input[type="checkbox"]:not(:checked) + span:after {
	background: #ffffff;
	left: 2.05em;
}
.BtnSwitch input[type="checkbox"]:checked + span {
	background: #de474e;
	color: #ffffff;
	padding-left: 1.2em;
	padding-right: 2.3em;
}
.BtnSwitch input[type="checkbox"]:checked + span:before {
	content: attr(data-on);
	padding: 0;
}
.BtnSwitch input[type="checkbox"]:checked + span:after {
	background: #ffffff;
	left: 100%;
}
