.CategoryItem {
	font-size: 2rem;
	padding: 0 2rem;
	background-color: #fff;
	width: 100%;
	cursor: grab;
}
.CategoryItem:active {
	cursor: grabbing;
}

.CategoryItem__inner {
	display: flex;
	align-items: center;
	padding: 1.3rem 2rem;
	border-bottom: var(--line);
}

.CategoryItem__remove-btn {
	padding: 0 1rem;
	margin-left: auto;
	background-color: transparent;
	border-style: none;
	color: inherit;
	cursor: pointer;
	outline: none;
	font-size: 1.8rem;
	opacity: 0;
	transition: opacity .3s;
}
.CategoryItem:hover .CategoryItem__remove-btn {
	opacity: 1;
}
