.Sidebar {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	padding: 2rem;
	box-shadow: .2rem .3rem 1rem -.2rem rgba(0, 0, 0, .2);
	flex: 0 0 6%;
	z-index: 5;
}

.Sidebar__item:link,
.Sidebar__item:visited {
	color: black;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 500;
	padding: .8rem 1.5rem;
}

.Sidebar a.Sidebar__item--active,
.Sidebar__item:hover {
	color: rgb(120, 120, 120);
}
