.Summary {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	border-bottom: 30px solid var(--color-grey-light-2);
	border-top: 2px solid var(--color-grey-light-2);
	padding: 30px 40px 40px;
}

.Summary > * {
	display: flex;
	padding: 3px 10px;
}

.Summary__amount {
	margin-left: auto;
	font-size: 24px;
}

.Summary__amount--inc {
	color: var(--color-blue);
}
.Summary__amount--exp {
	color: var(--color-red);
}

.Summary__total {
	border-top: var(--line);
}
