.App {
	min-height: calc(100vh);
}

.App__content {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 50rem;
	min-height: 20rem;
	margin: 5rem auto;
	padding: 4rem;
	box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .12);
	border-radius: .5rem;
}
