/* :root {
	--color-primary: #eb2f64;
	--color-secondary: #282c34;
	--color-grey-light-1: #faf9f9;
	--color-grey-light-2: rgb(244, 242, 242);
	--color-grey-light-3: rgb(240, 240, 240);
	--color-grey-light-4: rgb(238, 238, 238);
	--color-grey-light-5: rgb(204, 204, 204);

	--color-grey-dark-1: #333;
	--color-grey-dark-2: #777;
	--color-grey-dark-3: #999;

	--line: 1px solid var(--color-grey-light-3);
} */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background-color: rgb(238, 238, 238);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

li {
	list-style: none;
}
